export RABBITMQ_PASS=PASS
export RABBITMQ_HOST=10.99.244.7

export PATH="$PWD/libexec:$PATH"

export JAVA_HOME="${JAVA_HOME:-/usr/lib/jvm/java-8-openjdk-amd64}"
export PERFTEST_PATH=/root/rabbitmq-perf-test-2.2.0.M1
export TEST_DURATION="${TEST_DURATION:-180}"
export MSG_BODY_SIZE=1000
export QUEUES=1
export PRODUCERS=1
export CONSUMERS=1
export RATE=10000

export PROM_PASS=PASS
export METRICS_OFFSET=30
export METRICS_WINDOW=$((TEST_DURATION - METRICS_OFFSET*2))

